generateAudio = true
osuPath = F:\osu!\songs
Artist = Various Artists
ArtistUnicode = Various Artists
Title = osu! catch Daninintei Courses -LEVEL 7th KYU-
TitleUnicode = osu! catch Daninintei Courses -LEVEL 7th KYU-
Diffname = 七級
AR = 8.5
OD = 8.5
CS = 4
HP = 7
Mapper = Various Creators
dstPath = Various Artists - osu! catch Daninintei Courses -LEVEL 7th KYU-/
